body{
    padding: 0px;
    margin:0px;
}

.form{
    display: flex;
    width: 1200px;
    margin: auto;
}

.wraper{
    width: 1200px;
    margin: auto;
    .weather{
        display: flex;
        width: 600px;
    }
    .map{
        display: flex;
        width: 600px;
    }
}