<div class="weather">
    <div class="empty" *ngIf="!days.length && !error">Enter your city and press Search...</div>
    <div class="error" *ngIf="!days.length && error">Cities with the name of <span class="city">&nbsp;&nbsp;&nbsp;{{city}}&nbsp;&nbsp;&nbsp;</span> not found</div>
    <div class="days" *ngIf="days.length">
        <div class="item" *ngFor="let day of days" data-id="{{day}}" (click)="getDay($event)">{{day}}</div>
    </div>

    <div class="hours" *ngIf="days.length">
        <div class="hour" *ngFor="let hour of day">
            <div class="time">{{hour.hours}}:{{hour.minutes}}</div>
            <div class="pressure small">Давление: {{hour.main.pressure}}</div>
            <div class="humidity small">Влажность: {{hour.main.humidity}}%</div>
            <img src="https://openweathermap.org/img/w/{{hour.weather[0].icon}}.png" class="image">
            <div class="temp">+{{hour.main.temp}}</div>
        </div>
    </div>
</div>