app-form {
    display: block;
    flex: 0 100%;
    margin-bottom: 10px;
}
app-map {
    display: block;
    flex: 0 600px;
    box-sizing: border-box;
}
app-weather {
    display: block;
    flex: 0 590px;
    margin-left: 10px;
    box-sizing: border-box;
}
.title {
    color: #2c3e50;
    font-weight: 600;
    font-size: 58px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
    flex: 0 1200px;
}
.title span {
    color: #3498db;
}
.app {
    width: 1200px;
    /*margin: 20px auto;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (orientation:portrait) {
    .app {
        width: 100%;
        display: block;
    }
    .title {
        margin-top: 10px;
        font-size: 9vw;
    }
    app-form {margin-bottom: 2vw;}
    app-map {margin-bottom: 2vw;}
    app-weather {margin-left: 0px;}
}