app-form {
    flex: 0 100%;
    margin-bottom: 10px;
}
app-map {
    flex: 0 600px;
    box-sizing: border-box;
}
app-weather {
    flex: 0 590px;
    margin-left: 10px;
    box-sizing: border-box;
}
.title {
    color: #2c3e50;
    font-weight: 600;
    font-size: 58px;
    text-align: center;
    width: 1200px;
    flex: 0 1200px;
    margin-bottom: 20px;
    margin-top: -20px;
}
.title span {
    color: #3498db;
}
.app {
    width: 1200px;
    /*margin: 20px auto;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.wraper {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: auto;
}